
  body {margin: 0px 10px; background-color: #4d4d4d;}
  h1 {text-align: center; font-size: 36;}
  div {text-align: center; padding: 10px 0px; user-select: none;}
  p {text-align: center; font-size: 12; font-weight:bold; margin-top: 11px; margin-bottom: 11px;}
  p.left {text-align:left;}
  p.text {font-weight: normal;}
  p.start {
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .counter {
    display: block;
    font-size: 42px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 8px 0px;
    font-weight: bold;
  }
  .item1 {
    border: 3px solid transparent; 
    display: block; 
    align-items: center; 
    justify-content: center;
    padding: 0px 0px; 
    cursor: pointer;
    background-color:#ccc;
  }
  .item1:hover {
    filter: brightness(95%);
  }
  .item2 {
    border: 3px solid transparent; 
    margin: auto; 
    min-width: 412px; 
    max-width:800px; 
    display: block; 
    align-items: center; 
    justify-content: center; 
    padding: 0px 0px; 
    cursor: pointer; 
    background-color:#ccc;
  }
  .item2:hover {
    filter: brightness(95%);
  }
  .grid-container1 {margin: auto; 
    min-width: 418px; 
    max-width:806px; 
    display: grid; 
    grid-gap: 10px; 
    grid-template-columns: 1fr 1fr;
  }
  .button1 {
    font-weight: bold;
    background-color: #4d4d4d;
    border: none;
    color: white;
    padding: 1px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer; 
  }
  .button1:hover {
    filter: brightness(90%);
  }
  .button2 {
    font-weight: bold;
    background-color: white;
    border: none;
    color: black;
    padding: 1px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
  }
  .button2:hover {
    filter: brightness(95%);
  }
  .button3 {
    font-weight: bold;
    background-color: #ccc;
    border: none;
    color: black;
    padding: 1px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
  }
  .button2.hp {width:92px;}
  .button2.systems {width:38px;}
  .button1.test {width: 60px;}
  .graphics {
    background-color:#9a9a9a;
    margin:auto; 
    padding-bottom: 10px;
    min-width: 418px;
    max-width:806px;
    background-size: 650px;
    background-image: url("images/kaloshimself.png");
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  .systemdots{
    border-radius: 10px;
    background: black;
    height: 10px;
    width: 10px;
    padding: 0px 0px;
    margin-left: 3px;
    display: inline-block;
  }
  .info{
    font-weight: bold;
    position: absolute;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 12px;
    background: #E7A9EF;
    display: block;
    padding: 3px 16px;
    border-radius: 100px; 
    cursor: pointer;
  }
  .info:hover{
    filter: brightness(105%);
  }
  .collapsible{
    position: absolute;
    margin-left: 20px;
    margin-right: 18px;
    margin-top: 25px;
    max-width: 305px;
    font-size: 12;
    background: #E7A9EF;
    display: none;
    padding: 0px 15px;
    border-radius: 3px; 
  }
